<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="http://www.iut-bm.univ-fcomte.fr/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exemple MVC php</title>
    <link rel="stylesheet" href="{{ asset('assets/css/foundation.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" >
    <script src="{{ asset('assets/js/vendor/modernizr.js') }}"></script>
  </head>
  <body>

{% if   app.session.get('roles') is defined and  app.session.get('roles') == 'ROLE_ADMIN' %}
  {% include "nav_backOff.html.twig" %}
{% elseif   app.session.get('roles') is defined and  app.session.get('roles') == 'ROLE_CLIENT' %}
  {% include "nav_frontOff.html.twig" %}
{% else %}
  {% include "nav_home.html.twig" %}
{% endif%}

{% block contenu %}
    Site de vente projet S3 web IUT
{% endblock %}

<script src="{{ asset('assets/js/vendor/jquery.js') }}"></script>
<script src="{{ asset('assets/js/foundation.min.js') }}"></script>
<script>
  $(document).foundation();
</script>
  </body>
</html>

