<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area"> 
      <li class="name">
          <h1> <a href="{{ path('accueil') }}">Accueil</a></h1>
      </li>
    </ul> 
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li ><a href="{{ path('commande.showCommandes') }}">commandes</a></li>
        <li class="has-dropdown"><a href="{{ path('produit.showProduits') }}">produit</a>
          <ul class="dropdown">
            <li><a href="{{ path('produit.addProduit') }}"> Créer un produit </a></li>
            <li><a href="{{ path('produit.showProduits') }}">Afficher/editer/supprimer les produits</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">clients</a>
          <ul class="dropdown">
            <li><a href="#"> Gestion des clients </a></li>
          </ul>
        </li>
      </ul>
        <ul class="right">
            {% if   app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
                <li class="name" style="color: #d58512">Connecté en tant que : {{ app.session.get('username') }}</li>
                <li><a href="{{ path('user.logout')  }}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ path('user.login')  }}">Se connecter</a></li>
            {% endif %}
        </ul>
    </section> 
</nav>
