{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
		{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
			<a href="{{ path('produit.addProduit') }}"> Ajouter un produit </a>
		{% endif %}

		<table>
			<caption>Recapitulatifs des produits (avec twig)</caption>
			<thead>
			<tr><th>nom</th><th>id</th><th>type</th><th>prix</th><th>nom photo</th><th>photo</th>
				{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
					<th>opération</th>
				{% endif %}
			</tr>
			</thead>
			<tbody>
			{% for produit in data if data is not empty %}

				<tr>
					<td>{{produit.nom}}</td><td>{{produit.id}}</td><td>{{produit.libelle}}</td><td>{{produit.prix}}</td><td>
						{{produit.photo}}</td><td>
						<img style="width:40px;height:40px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.libelle}}" >
					</td>
					{% if   app.session.get('roles') is defined and  app.session.get('roles') == 'ROLE_ADMIN' %}
						<td>
							<a href="{{ path('produit.editProduit', {id: produit.id}) }}">modifier</a>
							<a href="{{ path('produit.deleteProduit', {id: produit.id}) }}">supprimer</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

