{% extends "layout.html.twig" %}

{% block contenu %}

	<h1> Projet 2 web : site de vente Espace client </h1>

    <div style="width: 100%;overflow: auto;">
	<div class="row" style="float: left;width: 50%;">
		<div class="small-7 large-7 columns" >
			<div>Liste des produits</div>
            {% if produits is defined %}
                <table>
                    <caption>Produits</caption>
                    <thead>
                    <tr><th>nom</th><th>id</th><th>type</th><th>prix</th><th>nom photo</th><th>photo</th><th>achat</th></tr>
                    </thead>
                    <tbody>
                    {% for produit in produits if produits is not empty %}
                        <tr>
                            <td>{{produit.nom}}</td>
                            <td>{{produit.id}}</td>
                            <td>{{produit.libelle}}</td>
                            <td>{{produit.prix}}</td>
                            <td>{{produit.photo}}</td>
                            <td><img style="width:40px;height:40px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.libelle}}" ></td>
                            <td>
                                <form method="post" action="{{ path("panier.addProduit") }}">
                                    <label>Qt :
                                        <input name="qt"  type="text"  size="18" value="" />
                                    </label>
                                    <input type="hidden" id="_method" name="_method" value="GET" />
                                    <input type="submit" name="Ajouter au Panier" value="Ajouter au Panier" />
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
            {% else %}
                <div>Pas de produits</div>
            {% endif %}
		</div>
    </div>
    <div class="row" style="float: right;width: 50%;">
		<div class="small-5 large-5 columns">
			<div>le panier + liens</div>
            {% if panier is defined %}
            <table>
                <caption>Panier :</caption>
                <thead>
                    <tr><th>id</th><th>quantite</th><th>prix</th><th>date d'ajout</th><th>user</th><th>produit</th><th>commande</th></tr>
                </thead>
                <tbody>
                {% for produit in panier if panier is not empty %}
                    <tr>
                        <td>{{produit.id}}</td>
                        <td>{{produit.quantite}}</td>
                        <td>{{produit.prix}}</td>
                        <td>{{produit.dateAjoutPanier}}</td>
                        <td>{{produit.user_id}}</td>
                        <td>{{produit.produit_id}}</td>
                        <td>{{produit.commande_id}}</td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
            {% else %}
                <div>Le panier est vide</div>
            {% endif %}
		</div>
	</div>
    </div>


{% endblock %}